<div class="h-screen flex font-['Poppins'] sticky top-0">
    <div class="p-3 w-64 border-r border-gray-200 bg-black text-gray-500 sticky top-0">
        <div class=" flex justify-center align-bottom border-b-2 border-gray-600 mb-4 p-5">
            <img class="bg-contain bg-no-repeat h-16 w-16" style="background-image: url(../../../assets/logo.png)"
            alt="">
            <h6 class="font-bold my-4 text-center">CAFFEAPP</h6>
        </div>
        <ul>
            <li class="flex justify-start mb-1 p-3 rounded hover:bg-gray-800 hover:shadow-md hover:text-white cursor-pointer"
                routerLink="home">
                <a class=""><i class="bi bi-house pr-3"></i></a>
                <span class="">Inicio</span>
            </li>
            <li class="flex justify-start mb-1 p-3 rounded hover:bg-gray-800 hover:shadow-md hover:text-white cursor-pointer"
                routerLink="home/menu">
                <a class="">
                    <i class="bi bi-book pr-3"></i>
                </a>
                <span class="">Menu</span>
            </li>
            <li
                class="flex justify-start mb-1 p-3 rounded hover:bg-gray-800 hover:shadow-md hover:text-white cursor-pointer">
                <a class="">
                    <i class="bi bi-calendar-check pr-3"></i>
                </a>
                <span class="">Reservas</span>
            </li>
            <li
                class="flex justify-start mb-1 p-3 rounded hover:bg-gray-800 hover:shadow-md hover:text-white cursor-pointer">
                <a class="">
                    <i class="bi bi-images pr-3"></i>
                </a>
                <span class="">Galeria</span>
            </li>
            <li
                class="flex justify-start mb-1 p-3 rounded hover:bg-gray-800 hover:shadow-md hover:text-white cursor-pointer">
                <a class="">
                    <i class="bi bi-people-fill pr-3"></i>
                </a>
                <span class="">Sobre Nosotros</span>
            </li>
        </ul>

        <h6 class="font-bold my-4">Configuracion</h6>
        <ul>
            <li
                class="flex justify-start mb-1 p-3 rounded hover:bg-gray-800 hover:shadow-md hover:text-white cursor-pointer">
                <a class=""><i class="bi bi-house pr-3"></i></a>
                <span class="">Herramientas</span>
            </li>
            <li
                class="flex justify-start mb-1 p-3 rounded hover:bg-gray-800 hover:shadow-md hover:text-white cursor-pointer">
                <a class=""><i class="bi bi-house pr-3"></i></a>
                <span class="">Salir</span>
            </li>
        </ul>

    </div>
</div>